body {
  background-color: #fbf9f2;
}
.navigation {
  box-sizing: border-box !important;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 2rem;
}

.navigation .btn {
  width: 100%;
  margin: 0.5rem;
}

input[type="radio"] {
  cursor: pointer;
}

.display-none {
  display: none;
}

#question-info,
#error-info {
  text-align: center;
}

#error-info {
  color: red;
}

#result-div {
  padding: 1rem;
  box-sizing: border-box;
}

#result-div > div {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  /* background-color: rgba(191, 157, 223, 0.699); */
  color: black;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;
}

#result-div #risk-stage span {
  padding: .75rem;
  font-size: 12px;
  border: 1px solid black;
}

.question {
  padding: 1rem;
}

.question-options {
  padding: 1rem;
  background-color: white;
}

.question-label {
  margin-bottom: 1rem;
}

.question-label label {
  font-weight: bold;
  /* border-bottom: 1px solid black; */
}

input[type="number"] {
  width: 100px;
}

.question-options > div {
  padding-bottom: 1rem;
}

.question-options input[type="radio"] ~ label {
  cursor: pointer;
}

.question-options input[type="radio"] ~ label small,
.text-small {
  font-size: 12px;
}

.question-options input[type="radio"]:checked,
.question-options input[type="radio"]:checked:after,
.question-options input[type="checkbox"]:checked,
.question-options input[type="checkbox"]:checked:after
{
  background-color: #ffc107;
  border-color: #ffc107;
  outline-color: #ffc107;
}
.question-options input[type="radio"]:active {
  border-color: #ffc107;
  outline-color: #ffc107;
}

.form-check-input:focus,
.form-control:focus {
  border-color: #ffc10748;
  box-shadow: 0 0 0 0.25rem rgba(253, 217, 13, 0.25)
}
.bg-brand-color {
  background-color: #ffc107;
}

#percentage {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  background-color: green;
  font-size: 2rem;
}
